#main {
  padding: 45px 0 35px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    // border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .logo {
    display: inline-block;
    margin-bottom: 35px;
    width: 80px;

    img {
      display: flex;
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      width: 100px;
    }
  }

  .title {
    // border: 2px solid red;
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: var(--fw-light);
    color: var(--clr-gray);

    .bold {
      font-weight: var(--fw-bolder);
      color: var(--clr-very-dark-blue);
    }

    @media screen and (min-width: 768px) {
      font-size: 42px;
    }
  }

  form {
    width: 100%;
    margin-bottom: 70px;

    label {
      display: inline-block;
      margin-bottom: 30px;
    }

    .entry {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input,
      .submit-btn {
        border-radius: 50px;
        height: 45px;
      }

      input {
        border: 2px solid var(--clr-pale-blue);
        padding-left: 16px;

        &::placeholder {
          color: var(--clr-pale-blue);
        }
      }

      .submit-btn {
        background-color: var(--clr-blue);
        color: var(--clr-white);
        font-weight: var(--fw-bold);
        box-shadow: 0 4px 10px var(--clr-pale-blue);
        transition: opacity 0.4s ease;

        &:hover {
          opacity: 0.8;
        }
      }

      @media screen and (min-width: 768px) {
        font-size: 42px;
        flex-direction: row;

        input {
          width: 70%;
        }

        .submit-btn {
          width: 30%;
        }
      }
    }
  }

  .illustration {
    margin-bottom: 80px;
    img {
      width: 100%;
    }
  }

  .socials {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;

    a {
      border: 1px solid var(--clr-pale-blue);
      display: flex;
      padding: 10px;
      border-radius: 50%;
      transition: 0.5s ease;

      svg {
        fill: var(--clr-blue);
      }

      &:hover {
        background-color: var(--clr-blue);

        svg {
          fill: var(--clr-white);
        }
      }
    }
  }

  .copyright {
    color: var(--clr-gray);
  }
}
