#main {
  //   border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    // border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .logo {
    display: inline-block;
    margin-bottom: 35px;
    width: 80px;

    img {
      display: flex;
      width: 100%;
    }
  }

  .title {
    // border: 2px solid red;
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: var(--fw-light);
    color: var(--clr-gray);

    .bold {
      font-weight: var(--fw-bolder);
      color: var(--clr-very-dark-blue);
    }
  }

  form {
    width: 100%;
    margin-bottom: 70px;

    label {
      display: inline-block;
      margin-bottom: 30px;
    }

    .entry {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input,
      .submit-btn {
        border-radius: 50px;
        height: 45px;
      }

      input {
        border: 1px solid var(--clr-pale-blue);
        padding-left: 16px;

        &::placeholder {
          color: var(--clr-pale-blue);
        }
      }

      .submit-btn {
        background-color: var(--clr-blue);
        color: var(--clr-white);
        font-weight: var(--fw-bold);
      }
    }
  }

  .illustration {
      margin-bottom: 80px;
    img {
      width: 100%;
    }
  }

  .socials {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 25px;

    a {
      border: 1px solid var(--clr-pale-blue);
      display: flex;
      padding: 10px;
      border-radius: 50%;

      svg {
        fill: var(--clr-blue);
      }
    }
  }

  .copyright {
    color: var(--clr-gray);
  }
}
