.container {
  width: 85%;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 65%;
  }
  
  @media screen and (min-width: 900px) {
    width: 50%;
  }
}

.sr-only {
  position: absolute;
  overflow: hidden;
  top: auto;
  width: 1px;
  height: 1px;
  left: -1000px;
}
